:root{
    --text:#ffffff;
    --text-selected: #f8fbb9;
    --back-darker:#18181d;
    --back-dark:#1e1e25;
    --back: #1a1a21;
    --back-light: #1f1f27;
    --back-lighter: #23232c;
    --button:#22222c;
}

*{
    margin:0;
    padding:0;
}

body{
    background-color: var(--back);
    padding: 0;
    margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Header */
#header-body{
    display:flex;
    justify-content:right;
    height: 60px;
}

#header-text{
    color: var(--text);
    width: 100%;
    margin:0;
    margin-top: 10px;
    margin-left: 40px;
    height: 60px;
    text-shadow: 0px 0px 2.5px rgb(255, 255, 255), 0px 0px 5px #adadadbe, 0px 0px 10px #ffffffab, 0px 0px 20px #ffffff80;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    transition-timing-function: ease;
    transition: text-shadow 0.5s, color 0.5s, font-size 0.5s;
}

#header-text:hover{
    text-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 0px 20px #adadadbe, 0px 0px 40px #ffffffab, 0px 0px 80px #ffffff80;
}

.header-buttons{
    color: var(--text);
    background-color: #ffffff00;
    border: none;
    padding:  0px 30px 0px 30px;
    font-size: 16px;
}

.header-buttons-selected{
    background-color: var(--button);
    /* font-style: oblique; */
    font-size: 19px;
}

.header-buttons:hover{
    font-size: 19px;
    background-color: var(--button);
}

/* Content */
.content-container{
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    gap: 10px;
}

.content-text-container{
    padding: 0px 50px;
}

.content-images{
    transition-timing-function: ease;
    transition: 0.5s;
    height: 373px;
    transform: scale(1);
    border-radius: 50px;
    border: 20px solid var(--back-dark);
    box-shadow:
    -9px -9px 15px #3b3b456c,
    9px 9px 15px #00000092;
}

.content-images-dark{
    border: 20px solid var(--back);
}

.content-images:hover{
    /* width: 52%; */
    animation: content-image-hover 0.5s;
    transform: scale(1.03);
    border-radius: 0px;
}

@keyframes content-image-hover {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.03);
    }
}

/* Grid */
#grid-container{
    padding: 40px 0px 40px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 40px;
    
}

.grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--back);
    padding: 15px;
    border-radius: 30px;
    transition: 0.2s;
    width: 250px;
    border: 8px solid var(--back);
    box-shadow:
    -9px -9px 15px #3b3b456c,
    9px 9px 15px #00000092;
}

.grid-item:hover{
    border: 8px solid var(--back);
    box-shadow:
    -9px -9px 15px #3b3b456c,
    9px 9px 15px #00000092,
    inset -9px -9px 15px #3b3b456c,
    inset 9px 9px 15px #00000092;
    transform: translateY(2px);
}

.grid-item>h1{
    color: white;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 20px;
    transition: 0.2s;
    font-size: 2vw;
    user-select: none;
}

.grid-item>p{
    user-select: none;
}

.grid-item>h1:hover{
    color: white;
    text-align: center;
    flex-wrap: wrap;
    transition: 0.2s;
    font-size: 2.4vw;
}

.grid-item>img{
    transition: 0.2s;
    filter: brightness(100%);
    height: 200px;
    border-radius: 10px;
}

/* Common */
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}


.text{
    color: var(--text);
}

.text-glow{
    text-shadow: 0px 0px 2.5px rgb(255, 255, 255), 0px 0px 5px #adadadbe, 0px 0px 10px #ffffffab, 0px 0px 20px #ffffff80;
}